@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;
}

/* Global Styles */
:root {
  --primary: #2d1b24;
  --secondary: rgba(230, 200, 45);
  --tertiary: #e8eaf6;
  --quaternary: #c25e76;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* This gradient starts with the dark plum from the rocks 
     and fades into a deep midnight black */
  background: linear-gradient(
    to bottom,
    #4a3730 0%,
    /* Warm Sand Brown */ #322429 50%,
    /* Muted Transition (The "Bruised" Plum) */ #1a1216 100%
      /* Deep Rock Plum/Shadow */
  );
  background-attachment: fixed; /* Keeps the gradient stable as you scroll */
  position: relative;
  z-index: -30;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--primary);
}

.container {
  width: 100%;
  height: 100%;
  padding: 120px 0;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.bold {
  font-weight: 600;
  color: var(--secondary);
}

.blob {
  position: absolute;
  z-index: -10;
}

.blob-header {
  right: -550px;
}

.blob-projects {
  left: -550px;
  rotate: 220deg;
}
.blob-projects2 {
  bottom: 0;
  right: -550px;
  rotate: 40deg;
}

#home,
#projects {
  position: relative;
}

.hidden {
  display: none;
}

@keyframes fadeInAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUpAnimate {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes resizeOnScroll {
  from {
    width: 100%;
  }
  to {
    max-width: 1280px;
  }
}
/* Navigation Bar */
.nav {
  position: absolute;
  top: 0;
  height: 80px;
  z-index: 10;
  width: 100%;
}

.nav__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid transparent;
  margin: 0 auto;
  transition: all 1000ms ease-in-out 0.1s;
}

.nav.scrolled-past {
  position: fixed;
}
.nav__container.scrolled-past {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  border: 1px solid rgba(230, 200, 45, 0.1);
  border-radius: 8px;
  width: 1280px;
  margin: 0 auto;
}

.nav__logo {
  color: var(--secondary);
  margin-left: -8px;
  height: 150%;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__link {
  color: var(--primary);
  font-weight: 600;
  font-size: 16px;
  text-shadow: 0 0 10px rgba(230, 200, 45, 0.5);
  transition: all 400ms ease;
}

.nav__link.color-change {
  color: var(--secondary);
  text-shadow: 0 0 10px rgba(230, 200, 45, 0.5);
}

.nav__link:hover {
  color: var(--secondary);
}

.nav__link__button {
  background-color: var(--secondary);
  color: var(--primary);
  padding: 8px 20px;
  font-size: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
  border-radius: 9999px;
  transition: 400ms ease;
}

.nav__link__button:hover {
  background-color: transparent;
  color: var(--secondary);
  border-color: var(--secondary);
}

.nav__menu {
  color: var(--secondary);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* Menu */

.menu__wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 30;
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: end;
  transition: 300ms ease;
}

.open .menu__wrapper {
  visibility: visible;
  opacity: 1;
}

.menu {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  border: 1px solid rgba(230, 200, 45, 0.1);
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  max-width: 320px;
  padding: 80px 16px;
  transition: 300ms ease;
}

.open .menu {
  transform: translateX(0%);
}

.menu__close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  transition: 200ms ease;
  color: var(--secondary);
}

.menu__close:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.menu__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu__link {
  color: var(--secondary);
  width: 100%;
  padding: 12px 8px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 300;
  transition: 200ms ease;
}

.menu__link:not(:last-child):hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.menu__link__button {
  width: 100%;
  height: 48px;
  color: var(--primary);
  background-color: var(--secondary);
  border: 1px transparent solid;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  transition: 200ms ease;
}

.menu__link__button:hover {
  background-color: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
}

/* Home */
#home {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.1);
}

.header__background {
  position: absolute;
  width: 100%;
  z-index: -10;
  filter: brightness(120%);
}

.bottom__blur__overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 2px; /* Adjust height of the blurred area */
  /* Apply the blur effect to the background area */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For compatibility */
  /* Optional: Add a subtle gradient for a smoother transition */
  background: linear-gradient(to top, rgba(230, 200, 45, 0.1), transparent);
}

.header__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary);
  margin-top: -120px;
}

.header__text {
  display: flex;
  flex-direction: column;
  text-align: right;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 32px;
  margin-left: 160px;
  box-shadow: 0 0 10px 1px rgba(230, 200, 45, 0.2);
  border-radius: 8px;
  animation: breathing-effect 5000ms infinite alternate-reverse;
}

@keyframes breathing-effect {
  0% {
    scale: 0.98;
  }
  100% {
    scale: 1.02;
  }
}

.header__span {
  font-size: 24px;
  font-weight: 600;
  animation: slideUpAnimate 500ms;
}

.header__title {
  font-size: 96px;
  font-weight: 600;
  line-height: 100px;
  color: var(--secondary);
  text-shadow: 0 0 10px rgba(230, 200, 45, 0.5);
  animation: slideUpAnimate 500ms 100ms backwards;
}

.header__subtitle {
  font-size: 44px;
  font-weight: 600;
  line-height: 44px;
  animation: slideUpAnimate 500ms 150ms backwards;
}

.header__about {
  margin-top: 8px;
  font-size: 18px;
  animation: slideUpAnimate 500ms 200ms backwards;
}

.header__about .bold {
  color: var(--primary);
  transition: 400ms ease;
}
.header__about .bold:hover {
  cursor: pointer;
  color: var(--secondary);
}

.header__links {
  align-self: end;
  display: flex;
  gap: 16px;
  margin-top: 16px;
  animation: slideUpAnimate 500ms 300ms backwards;
}

.header__link {
  color: var(--primary);
  font-size: 20px;
  transition: 400ms ease;
}

.header__link:hover {
  color: var(--secondary);
}

.header__scroll {
  color: var(--primary);
  text-shadow: 0 0 10px rgba(230, 200, 45, 1);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 32px;
  left: 50%;
  font-size: 20px;
  transform: translateX(-50%);
  transition: 400ms ease;

  animation:
    fadeInAnimate 500ms 500ms backwards,
    headerScrollAnimate 1000ms infinite alternate-reverse;
}

.header__scroll:hover {
  color: var(--secondary);
}

@keyframes headerScrollAnimate {
  0% {
    bottom: 32px;
  }
  100% {
    bottom: 24px;
  }
}

/* About */
.about__row {
  color: var(--tertiary);
  display: flex;
  gap: 128px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__text__title {
  font-size: 36px;
  color: var(--secondary);
}

.about__title {
  color: var(--secondary);
  font-size: 16px;
  text-transform: uppercase;
}

.about__text__subtitle {
  font-size: 32px;
}

.about__text__para {
  line-height: 24px;
  max-width: 400px;
}

.about__skills {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__skill__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.about__skill {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.about__skill__image {
  width: 100%;
  height: 100%;
  transition: 200ms ease;
}

.about__skill__name {
  font-size: 12px;
  opacity: 0;
  transition: 300ms ease;
}
.about__skill:hover .about__skill__name {
  opacity: 1;
  color: var(--secondary);
}

.about__skill:hover .about__skill__image {
  scale: 0.9;
}

.about__image__wrapper {
  width: 400px;
  max-width: 100%;
  height: auto;
  position: relative;
}

.about__image__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(230, 200, 45, 0.2);
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  top: 24px;
  right: 24px;
  z-index: 1;
}
.about__image__wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(230, 200, 45, 0.2);
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  bottom: 24px;
  left: 24px;
  z-index: 3;
}
.about__image {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
}

/* Projects */
.projects__title {
  color: var(--secondary);
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.projects__row {
  color: var(--tertiary);
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.project {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  border: 1px solid rgba(230, 200, 45, 0.1);
  border-radius: 8px;
  padding: 12px 20px;
  gap: 48px;
  height: 384px;
  color: var(--tertiary);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project__image__wrapper {
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.project__image {
  width: 100%;
  transition: 400ms ease;
}

.project__image__links {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 16px;
  font-size: 16px;
  opacity: 0;
  transition: 400ms ease;
}

.project__image__link {
  color: var(--tertiary);
  transition: 400ms ease;
}

.project__image__link:hover {
  color: var(--secondary);
  scale: 1.2;
}

.project__image__wrapper:hover .project__image {
  filter: opacity(70%) blur(2px) brightness(60%);
  background-color: #242424;
  scale: 1.05;
}

.project__image__wrapper:hover .project__image__links {
  opacity: 100;
}

.project__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 320px;
}

.project__title {
  color: var(--secondary);
  font-size: 24px;
}

.project__skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  color: var(--tertiary);
}

.project__skill {
  font-size: 14px;
  color: var(--primary);
  background-color: var(--secondary);
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: default;
  transition: 400ms ease;
}

.project__skill:hover {
  background-color: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
}

.project__para {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
}

.project__links {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}

.project__link {
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: 700;
  width: 96px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: 400ms ease;
}

.project__link:hover {
  background-color: transparent;
  border-color: var(--secondary);
  color: var(--secondary);
  scale: 1.05;
}

/* Contact */
.contact__row {
  color: var(--tertiary);
  display: flex;
  gap: 48px;
}

.contact__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
}

.contact__title {
  font-size: 20px;
  color: var(--secondary);
  text-transform: uppercase;
  margin-bottom: 12px;
}

.contact__subtitle {
  font-size: 40px;
}

.contact__link {
  color: var(--tertiary);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  width: fit-content;
  transition: 400ms ease;
}

.contact__link:hover {
  color: var(--secondary);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__item__label {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 300;
}

.form__item__input {
  height: 36px;
  background-color: #f3f4f6;
  border: none;
  outline: none;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  border: 1px solid rgba(230, 200, 45, 0.1);
}

.form__item__textarea {
  height: 96px;
  background-color: #f3f4f6;
  border: none;
  outline: none;
  resize: none;
  padding: 8px;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  border: 1px solid rgba(230, 200, 45, 0.1);
}

.contact__form__submit {
  background-color: var(--secondary);
  color: var(--primary);
  height: 100%;
  height: 48px;
  font-weight: 400;
  border: 1px transparent solid;
  font-size: 16px;
  cursor: pointer;
  transition: 400ms ease;
  position: relative;
  border-radius: 4px;
}

.contact__form__submit:hover {
  background-color: transparent;
  color: var(--secondary);
  border-color: var(--secondary);
}

.success {
  position: fixed;
  width: 320px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px 1px rgba(230, 200, 45, 0.2);
  border: 1px solid rgba(230, 200, 45, 0.1);
  border-radius: 8px;
  top: 12px;
  right: 12px;
  z-index: 20;
  padding: 20px;
  transform: translateX(110%);
  display: flex;
  gap: 16px;
  transition: 250ms ease;
}

.success-open .success {
  transform: translateX(0%);
}

.success__icon {
  font-size: 28px;
  color: var(--secondary);
}

.success__text {
  color: var(--tertiary);
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.success__text__title {
  font-size: 16px;
  font-weight: 600;
}

.success__text__para {
  font-size: 14px;
}

.contact__form__loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  z-index: 20;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: var(--secondary);
}

.contact__form__loading__icon {
  animation: loadingSpinner 1000ms infinite;
}

@keyframes loadingSpinner {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

/* Footer */
footer {
  background: var(--secondary);
  color: var(--primary);
  height: 64px;
}

.footer__row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 700;
}

.footer__links {
  display: flex;
  gap: 16px;
  font-size: 20px;
}

.footer__link {
  color: var(--primary);
  transition: 400ms ease;
}

.footer__link:hover {
  color: var(--tertiary);
  scale: 1.02;
}

/* XL Screens */

@media (max-width: 1280px) {
  /* Nav */
  .nav {
    top: 0;
  }

  .nav__container {
    max-width: 100%;
    border-radius: 0px;
  }

  .header__background {
    height: 100%;
  }

  .header__span {
    font-size: 20px;
  }

  .header__title {
    font-size: 80px;
  }
  .header__subtitle {
    font-size: 36px;
  }
}

/* Large Screens */
@media (max-width: 1024px) {
  /* Header */
  .header__text {
    margin-bottom: 48px;
    margin-right: 16px;
    margin-left: 320px;
  }
  .header__title {
    font-size: 64px;
    line-height: 1.5;
  }
  .header__subtitle {
    font-size: 24px;
    line-height: 0.5;
  }
  /* About */
  .about__row {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }

  .about__text {
    text-align: center;
  }

  .about__text__para {
    max-width: 540px;
  }

  .about__skills {
    align-items: center;
  }

  /* Projects */
  .project {
    height: 320px;
    padding: 20px;
    gap: 20px;
  }

  .project__image__wrapper {
    max-width: 540px;
  }

  .project__description {
    max-width: 280px;
  }

  .project__skill,
  .project__para {
    font-size: 12px;
  }
}

/* Tablets */
@media (max-width: 768px) {
  /* Header */
  .header__span {
    font-size: 14px;
  }
  .header__text {
    margin-left: 280px;
    margin-bottom: 96px;
  }

  .header__title {
    font-size: 44px;
    line-height: 60px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .header__about {
    font-size: 12px;
  }

  /* Projects */

  .project {
    flex-direction: column;
    height: auto;
    gap: 12px;
    padding: 12px;
  }

  .project:nth-child(even) {
    flex-direction: column;
  }

  .project__image__wrapper {
    max-width: 100%;
  }

  .project__description {
    max-width: 100%;
    justify-content: start;
    text-align: left;
  }

  .project__title {
    width: 100%;
  }

  .project__skills {
    width: 100%;
    justify-content: start;
  }

  .project__skill,
  .project__para {
    font-size: 14px;
  }

  .project__para {
    margin-top: 16px;
  }

  .project__links {
    justify-content: start;
    width: 100%;
    gap: 8px;
    margin-top: 24px;
  }

  /* Contact */

  .contact__row {
    flex-direction: column;
  }

  .contact__description,
  .contact__form {
    width: 100%;
  }

  .contact__title {
    font-size: 14px;
  }

  .contact__subtitle {
    font-size: 30px;
  }

  .contact__para {
    font-size: 14px;
  }

  .contact__link {
    margin-top: 12px;
  }
}

/* Small Screens */
@media (max-width: 640px) {
  /* Nav */
  .nav__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  /* Header */

  .header__background {
    width: auto;
  }

  .header__text {
    margin-left: 120px;
    margin-top: 64px;
  }

  .header__subtitle {
    line-height: 28px;
  }
  .header__links {
    margin-top: 4px;
  }
  .blob-header {
    right: -660px;
  }

  /* About */
  .about__image__wrapper {
    max-width: 80%;
  }

  .about__skill__wrapper {
    justify-content: center;
  }

  /* Projects */

  .project__title {
    font-size: 20px;
  }

  .project__skill,
  .project__para {
    font-size: 12px;
  }

  .project__skill {
    padding: 4px 10px;
  }
}

/* XS Screens */

@media (max-width: 480px) {
  /* Header */
  .blob-header {
    right: -720px;
  }

  .header__text {
    margin-left: 72px;
    margin-top: 360px;
  }

  .header__title {
    font-size: 32px;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 20px;
  }

  /* About */
  .about__text__para {
    font-size: 14px;
  }

  /* Footer */
  .footer__row {
    gap: 16px;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .footer__links {
    font-size: 14px;
  }
}
